<h1>All Cosmetics users</h1>

<ul>
<% @users.each do |user| %>
    <li><a href="/users/<%=user.id%>"><%=user.username%></a></li>
<%end%>
</ul>

<a href="/cosmetics/new">Add a new Cosmetic to your list</a>