<h1>Edit Cosmetic</h1>


<form action="/cosmetics/<%=@cosmetic.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Product Name: </label>
  <input type="text" name="cosmetic[name]" value="<%=@cosmetic.name%>"><br><br>
  <label>Product Brand: </label>
  <input type="text" name="cosmetic[brand]" value="<%=@cosmetic.brand%>"><br><br>
  <input type="submit">
</form>

<form action="/cosmetics/<%=@cosmetic.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>