<h1>All Cosmetics of all users</h1>

<ul>
<% @cosmetics.each do |cosmetic| %>
    <li><a href="/cosmetics/<%=cosmetic.id%>">
    <%=cosmetic.name%>
    </a></li>
<%end%>
</ul>

<a href="/cosmetics/new">Add a new product to your list</a><br>
<a href="/users/<%=@user.id%>">See all your products</a><br><br>
<a href="/users">See all Cosmetics users</a><br>
<a href="/logout">Log out</a>