<h1>New Cosmetic</h1>


<form action="/cosmetics" method="post">
  <label>Cosmetic Name: </label>
  <input type="text" name="cosmetic[name]">
  <label>Cosmetic Brand: </label>
  <input type="text" name="cosmetic[brand]">
  <input type="submit">
</form>