<h1>New Cosmetic</h1>


<form action="/cosmetics" method="post">
  <label>Item Name: </label>
  <input type="text" name="item[name]">
  <label>Item Brand: </label>
  <input type="text" name="item[quantity]">
  <input type="submit">
</form>