<h1>New Cosmetic</h1>


<form action="/cosmetics" method="post">
  <label>Product Name: </label>
  <input type="text" name="cosmetic[name]"><br><br>
  <label>Product Brand: </label>
  <input type="text" name="cosmetic[brand]">
  <input type="submit">
</form>